@import "tailwindcss";
@theme {
    --color-primary: oklch(0.715 0.143 215.221);
    --color-slate2: var(--color-slate-500);
    --color-dark: #0f172a;
    --font-sans: inter, sans-serif;
    --color-primary2: #DC143C;

}

@layer utilities {
    .hamburger-line{
        @apply block w-8 h-0.5 my-2 bg-dark ;
    }

    .hamburger-active > span:nth-child(1){
        @apply rotate-45 translate-y-1;
    }

    .hamburger-active > span:nth-child(2){
        @apply scale-0;
    }

    .hamburger-active > span:nth-child(3){
        @apply -rotate-45 translate-y-1;
    }

    .navbar-fixed {
        @apply fixed z-9999 bg-white opacity-90;
        backdrop-filter: blur(5px);
        box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.3);
    }
}


